
*{
    font-family: 'Poppins', sans-serif;
    box-sizing:border-box;
    margin:0;
    padding:0;
}
.main-header{
    background-image: url(images/donation7.jpg);
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
}
.main-header h1{
    text-align: center;
    color:lawngreen;
    padding-top: 120px;
}
.main-header p{
    text-align: center;
    color:lawngreen;
    padding-top: 50px;
}
.link-button{
    text-align: center;
    padding-top: 70px;
}
.link-button a{
    color:gold;
    text-decoration: none;
    background-image: linear-gradient(orange ,tomato);
    background-color: tomato;
    padding: 10px 30px;
    font-weight: 700;
    color: aquamarine;
    border-radius: 10px;
}
.middle-part h1{
    text-align: center;
    padding-top: 100px;
}
.middle-part p{
    text-align: center;
    padding-top:30px;
}
.money-option ul{
    text-decoration:none;
    text-align: center;
    padding-top: 70px;
    list-style: none;
}
.money-option li{
    text-decoration:none;
    display: inline;
    padding:10px;
   
}
.money-option ul li a{
    text-decoration:none;
    background-color:#FAFAFA;
    padding: 35px 35px;
}
.money-option ul li a:hover{
    background-color: #FFEEEE;
    border-radius: 5px;
    border:3px solid #FF5959;
}
.money-option ul li a.current{
    background-color:#FFEEEE;
    color:#f7c08a;
    border:3px solid #FF5959;
    border-radius: 5px;
}
input {
    border: 0;
    outline: 0;
    width: 50%;
    background: transparent;
    border-bottom: 1px solid black;
    padding-top: 90px;
    margin-bottom: 20px;
    text-align: center;
    margin-left: 25%;
  }
  .button {
    font-size:100px;
    padding-top: 30px;
    background-color: #FF5959;
    border: none;
    color: white;
    padding: 17px 38px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }
  .submit-button{
      text-align: center;
  }